<?php
return [
    'components' => [
        'request' => [
            'cookieValidationKey' => getenv('COOKIE_VALIDATION_KEY') ?: 'changeme',
        ],
        // Add your frontend-specific config here
    ],
]; 